# Alias file for both Bash & ZSH

# use Windows Vagrant for Trellis
alias vagrant="vagrant.exe"

# Vim to Neovim
alias vi="nvim"
alias vim="nvim"

# ls aliases
alias ls="exa --header -l"
alias l="exa --header -l"
alias ll="exa --header -l"
alias la="exa --header -la"
