# Alias file for both Bash & ZSH

# use Windows Vagrant for Trellis (uncomment in WSL)
#alias vagrant="vagrant.exe"

# Vim to Neovim
alias vi="nvim"
alias vim="nvim"

# Emacs
alias enw="emacs -nw"
alias e="emacs"

# ls aliases
alias ls="eza --header -l"
alias l="eza --header -l"
alias ll="eza --header -l"
alias la="eza --header -la"

# Reload ZSH config
alias reload="source $HOME/.zshrc"

# Github Aliases
alias gs="git status"
alias gaa="git add ."
alias gc="git commit"
alias gcm="git commit -m"
alias gp="git push"

# Tmux Aliases
alias t="tmux"
alias ta="t a -t"
alias tls="t ls"
alias tn="t new -t"

# Noise generator
alias play_whitenoise="soxnoise -c white"
alias play_pink="soxnoise -c pink"
alias play_brown="soxnoise -c brown"
alias play_noise="soxnoise -c pinkbrown"

# tresorit-cli aliases
alias tcli="tresorit-cli"

# Android Development settings (uncomment in WSL)
#alias adb="adb.exe"
#alias emulator="emulator.exe"
